@import "./component/vars";
@import "./component/fonts";
@import "./component/reset";
@import "./component/libs";
@import "./component/global";
@import "./component/mixin";
@import "./component/header";
@import "./component/footer";
@import "./component/about";
@import "./component/swiper";
@import "./component/price";

.header {
    @extend %line;
}

.title__section {
    @extend %defultFontTitle;
    text-align: center;
    margin-bottom: 2rem;


}

section {
    @extend %line;
    margin-bottom: 3.44rem;
}