<section class="feedback">
    <div class="container">
        <h2 class="feedback__title title__section">Отзывы</h2>
        <div class="feedback__inner">
            <!-- Этот элемент идёт как мсакет где нужно менять картинки -->
  <div class="swipers swipers__feedback swiper">
    <div class="swipers__wrapper swiper-wrapper">
      <div class="swipers__slide-flex swiper-slide">
        <img
          class="swipers__slide-img"
          src="./images/feedback-1.avif"
          alt="img"
        />
      </div>
      <div class="swipers__slide-flex swiper-slide">
        <img
          class="swipers__slide-img"
          src="./images/feedback-1.avif"
          alt="img"
        />
      </div>
    </div>
    
    <div class="swiper-button-prev swipers-button-prev"></div>
    <div class="swiper-button-next swipers-button-next"></div>
    <div class="swiper-pagination swipers-pagination"></div>
  </div>

        </div>
    </div>
</section>